[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
peewee = "*"
celery = {extras = ["redis"], version = "*"}
psycopg2-binary = "*"
questionary = "*"
tabulate = "*"
faker = "*"
black = "*"
jinja2 = "*"
isort = "*"
flask = "*"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.13"
